body {
    font-family: $sans;
    font-weight: 400;
    line-height: 1.7;
}

.heading {
    &--secondary {
        display: block;
        font-family: $serif;
        font-size: 4.5rem;
        color: $grey-dark;
        font-weight: $light;
        margin-bottom: 1.5rem;

        @include respond(phone) {
            font-size: 3.5rem;
        }

        &::after {
            content: "";
            border-bottom: 2px solid $accent;
            display: block;
            width: 22rem;
        }
    }
}

p {
    font-size: 1.6rem;
    color: $black;
}
