.u-center-text {
    text-align: center;
}
.u-center-margin {
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.3rem;
    padding: 3rem 5rem 1rem 8rem;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 3rem;

    @include respond(phone) {
        width: 90%;
        padding: 2rem 4rem;
        margin: 0;
    }
}
